@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@500&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #228B22;
    background: fixed;
}

html, body {
    background-image: url('Honey Comb.jpg');
    background-size: auto; 
    background-position: fit; 
    background-repeat: repeat; 
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.header {
    position: sticky;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid ;
    padding: 20px 100px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 5);
}
/*Navigation Bar*/
.logo {
    font-style: italic;
    font-size: 1.3em;
    color: #228B22;
    user-select: none;
    display: flex;
}
.navigation a{
    position: sticky;
    font-size: 1.2em;
    color: #228B22;
    text-decoration: none;
    font-weight: 500px;
    margin-left: 2.5rem;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #228B22;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: right;
    transform: scaleX(1);
}
.toggle{
    right: 5%;
    position: absolute;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media (max-width: 992px) {
    .header{
        padding: 1.3rem 5%;
    }
}
@media (max-width: 768px) {
    .toggle{
        display: inline-flex;
    }
    #check:checked~.toggle #menu-icon{
        display: none;
    }
    .toggle #close-icon{
        display: none;
    }
    #check:checked~.toggle #close-icon{
        display: block;
    }
    .navigation {
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #d9d9d9;
        border-bottom: 3px solid #228B22;
        box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 5);
        overflow: hidden;
        transition: 0.3s ease;
    }
    #check:checked~.navigation{
        height: 17.7rem;
    }
    .navigation a{
        display: block;
        font-size: 1.2rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}
/*Footer Layout*/
footer {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #d9d9d9;
    backdrop-filter: blur(10px);
    border-top: 3px solid #228B22;
    top: 100vh;
    bottom: 0;
    height: 180px;
    margin-top: auto;
    padding: 20px 100px;
}
.footer-icon a{
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-right: 50px;
    left: 26px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.5s;
    box-shadow: -3px -3px 7px #228B22, 3px 3px 5px #228B22;
    backdrop-filter: blur(10px);
}

.footer-icon a:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #d9d9d9;
    box-shadow: inset 7px #228B22, 
                inset 3px 5px #228B22;
}
/*Footer Icons*/
.footer-icon a i{
   position: relative;
   z-index: 3;
   text-align: center;
   width: 100%;
   height: 100%;
   font-size: 25px;
   line-height: 50px; 
}
.footer-icon a:hover i{
    transform: scale(0.9);
}
.ul-footer {
    list-style: none;
    text-decoration: none;
}

.footer-col{
    width: 25%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: justify;
}
.footer-col h3{
    position: relative;
    margin-bottom: 30px;
    margin-right: 120px;
    font-weight: 900;
    text-transform: capitalize;
    text-decoration: none;
}
.footer-col h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #228B22;
    height: 2px;
    width: 20%;
}
/*Removes Underline from Footer Links*/
.footer-col a{
    text-decoration: none;
    gap: 10px;
}

/*Apply button
.navigation .btnLogin-popup {
    width: 100px;
    height: 50px;
    background: transparent;
    color: #228B22;
    outline: none;
    border: 2px solid #228B22;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.9em;
    margin: 10px;
    transition: 0.5s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.50);
}
.navigation .btnLogin-popup:hover {
    background: #228B22;
    border: 2px solid grey;
    color: white ;
}
*/

/*Search Bar

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 100px;
    border: 2px solid #228B22;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.50);
}
.search-box:hover > .search-txt{
    width: 180px;
    padding: 0 6px;
}
.search-btn{
    color: #228B22;
    float: right;
    width: auto;
    height: auto;
    border-radius: 0px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #228B22;
    font-size: 0.9em;
    transition: 0.8s;
    line-height: 40px;
    width: 0px;
}
*/
/*Home Page Images*/
/*Dealership*/
.intro{
    margin-top: -760px;
    margin-bottom: 500px;
    margin-left: 60px;
    max-width: 910px;
    max-height: 500px;
    backdrop-filter: blur(100px);
    border-radius: 50px;
    z-index: 2;
}
.intro h1{
    font-size: 3em;
    color: #228B22;
    text-decoration: underline;
    margin-left: 20px;
    margin-top: 10px;
}
.intro p{
    margin-top: 20px ;
    margin-bottom: 200px;
    margin-left: 20px;
    width: 900px;
    font-style: italic;
    font-size: 1.5em;
    text-decoration: underline;
    color: #228B22;
    text-align: left;
    text-indent: 0 !important;
}
.dealership img{
    width: 100%;
    border-bottom: 4px solid #228B22;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    z-index: 1;
    opacity: 0.9;
}
.container1 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
    
}
/*Image 1 - Lexus LC 500*/
.image1 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
/*Image 2 - BMW M8*/
.image2 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container2 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 3 - Acura NSX*/
.image3 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container3 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 4 - Audi R8*/
.image4 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container4 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Google Maps Iframe*/
.iframe {
    margin: 50px;
    width: 1000px;
    height: 450px;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
}
.iframe-heading{
    margin-top: 100px;
    border-bottom: 4px solid #228B22;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
}

/*About us Page*/
/*About Me Main Capsule*/
.About-section{
    height: max-content;
    width: 95%;
    text-align: center;
    display: in-flex;
    border: 6px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    background-image: url(Dealership2.png);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: auto;
}
/*About Me Main Capsule*/
.About-Title h1{
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    font-size: 2em
}
.About-Services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 55px auto;
    text-align: center;
}
/*About Cards*/
.About-Card{
    height: 550px;
    width: 100%;
    background-color: #d9d9d9;
    border: 4px solid #228B22;
    border-radius: 100px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
}
/*About Icon*/
.About-Icon{
    font-size: 3em;
    margin-bottom: 20px;
    margin-top: 20px;
}
.About img { 
    margin-left: 60px;
    margin-bottom: 300px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-direction: column;
    border-radius: 100px;
    margin: 0px 20px;
    border: 4px solid #228B22;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    background-color: #d9d9d9;
}
/*About Cards Heading*/
.About-Card h2{
    font-size: 2em;
    color: #228B22;
    margin-bottom: 20px;
    text-decoration: underline;
}
/*About Cards Paragraph*/
.About-Card p{
    padding: 20px 100px;
    height: 500px;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #228B22;
}
@media screen and (max-width: 940px){
    .About-Services{
        display: flex;
        flex-direction: column;
    }
    
}

/*About Us - Mission Boxes*/
.Goals-section{
    max-height: max-content;
    width: 95%;
    text-align: center;
    border: 6px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    background-image: url(cars/lego.png);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: auto;
}
/*Goal Main Capsule Heading*/
.Goal-Title h1{
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    font-size: 2em
}
/*Layout For the Goal Cards*/
.Goal-Services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 55px auto;
    text-align: center;
}
/*Goal Cards*/
.Goal-Card{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: #d9d9d9;
    border: 4px solid #228B22;
    border-radius: 25px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
}
/*Goal Cards Icons*/
.Goal-Icon{
    font-size: 3em;
    margin-bottom: 10px;
}
/*Goal Cards Heading*/
.Goal-Card h2{
    font-size: 2em;
    color: #228B22;
    margin-bottom: 20px;
    text-decoration: underline;
}
/*Goal Cards Paragraph*/
.Goal-Card p{
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #228B22;
}
@media screen and (max-width: 940px){
    .Goal-Services{
        display: flex;
        flex-direction: column;
    }
    
}
/*Products Page*/
/*Filter*/
.wrapper-sort{
    
    margin-top: -80px;
    margin-bottom: 20px;
    max-width: 100%;
    height: 300px;
    width: 21%;
    display: flex;
    align-items: center;
    text-align: justify;
    position: relative;
}
.wrapper-sort:hover .filter{
    display: block;
}
/*Filter Options Dropdown*/
.filter{
    display: flex;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    min-width: 100px;
    width: 300px;
    height: 650px;
    display: none;
    position: absolute;
    background-color: white;
    border: 3px solid #228B22;
    border-radius: 25px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    transition: 0.5s;
    z-index: 1;
}
.filter .gap{
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    display: block;
    color: #228B22;
    text-decoration: none;
    padding: 10px 15px;
}
/*Filter Drop down options*/
.filter a{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    display: block;
    color: #228B22;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.2s;       
    border-radius: 5px;
}
.filter a:hover {
    background: #228B22;
    color: white ;
}
/*Filter button*/
.sort button{
    margin-bottom: 90px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    width: 300px;
    height: 50px;
    background: transparent;
    outline: none;
    border: 3px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    z-index: 2;
    transition: 0.5s;
}
.sort button:hover{
    background: #d9d9d9;
}
/*Refresh button*/.Refresh button{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin-left: 300px;
    margin-bottom: -90px;
    background: white;
    color: #228B22;
    outline: none;
    border: 3px solid #228B22;
    border-radius: 100px;
    cursor: pointer;
    font-size: 0.9em;
    transition: 0.5s;
    position: absolute;
}
.Refresh button:hover{
    background: #d9d9d9;
}
.Refresh button i{
    font-size: 25px;
}
/*Images*/
/*Headings*/
/*Image 5 - LC 500 */
.image5 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container5 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 6 - Acura NSX */
.image6 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container6 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 7 - Infinity Q60 */
.image7 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container7 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 8 - BMW M8 */
.image8 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container8 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 9 - Audi R8 */
.image9 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container9 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 10 - Mercedes AMG GT*/
.image10 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container10 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 11 - Maserati GT*/
.image11 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container11 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 12 - Ferrari Roma*/
.image12 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container12 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 13 - Porsche 911*/
.image13 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container13 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 14 - Lucid Air Sapphire*/
.image14 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container14 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 15 - Chevorelet Corvette*/
.image15 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container15 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 16 - Chevorelet Camaro*/
.image16 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container16 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Products Page*/
/*Specs List inside the capsule*/
ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-bottom: 50px;
}
/*Buy Now Buttons*/
.list button{
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height: 50px;
    background: transparent;
    color: #228B22;
    outline: none;
    border: 3px solid #228B22;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: 110px;
    transition: 0.5s;
    position: absolute;
}
.list button:hover{
    background: #228B22;
    color: #d9d9d9;
    border: 3px solid #d9d9d9;
}
/*Starting Price*/
.Price {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-style: italic;
    font-weight: 400;
    text-decoration: underline;
}
/*Offering Capsule*/
.Offerings {
    text-decoration: underline;
    font-style: italic;
    width: 400px;
    height: 55px;
    margin-top: 2px;
    margin-bottom: 25px;
    vertical-align: middle;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #228B22;
    border: 3px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
}

/*Error Page Gif*/
.gif{
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
}
.go-back{
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height: 50px;
    background: transparent;
    backdrop-filter: blur(10px);
    color: #228B22;
    outline: none;
    border: 3px solid #228B22;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: -10px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.go-back:hover{
    background: #d9d9d9;
    color: #228B22;
    border: 3px solid #228B22;
}
/*Gallery Page*/
.Gallery-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Gallery-container{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
/*Individual Card for each image*/
.card{
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid #228B22;
    border-radius: 50px;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
}
.card > .Gallery-row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
/*Numbers for each Image*/
.card > .Gallery-row > .Gallery-icon{
    background: #223;
    color: white;
    border: 3px solid #228B22;
    border-radius: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
/*Headers for each Image*/
.card > .Gallery-row > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .9s;
    transition: all .9s ease;
}
.description h4{
    text-transform: uppercase;
    color: white;
}
/*Transition when clicking on each card*/
.Gallery-input {
    display: none;
}
.Gallery-input:checked + label{
    width: 600px;
}
.Gallery-input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
/*Individual Cards*/
.card[for="c1"] {
    background-image: url(Gallery/1.jpg);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll; 
}
.card[for="c2"] {
    background-image: url(Gallery/2.jpg);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll; 
}
.card[for="c3"] {
    background-image: url(Gallery/3.jpg);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll; 
}
.card[for="c4"] {
    background-image: url(Gallery/4.jpg);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll; 
}
.card[for="c5"] {
    background-image: url(Gallery/5.jpg);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll; 
}
.card[for="c6"] {
    background-image: url(Gallery/6.jpg);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll; 
}
.card[for="c7"] {
    background-image: url(Gallery/7.jpg);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll; 
}
.card[for="c8"] {
    background-image: url(Gallery/8.webp);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll; 
}
.card[for="c9"] {
    background-image: url(Gallery/9.webp);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll; 
}
/*Testimonial Page*/
/*Outer Capsule*/
.Testimonials {
    max-height: max-content;
    width: 95%;
    text-align: center;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    background-image: url(Hexagon.jpg);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: auto;
}
.Testimonial-header {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}
/*Individual Reviwer Capsules*/
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col{
    flex: 30.33%;
    max-width: 30.33%;
    box-sizing: border-box;
    padding: 15px;
    margin-right: 8px;
}
.review{
    background: #d9d9d9;
    padding: 30px;
    border-radius: 50px;
    border: 2px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
}
/*Testimonial Images*/
.review img{
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #228B22;
    border-radius: 50%;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
}
/*Testimonial Paragraphs*/
.review p{
    max-width: max-content;
    margin: auto;
    text-align: justify;
}
/*Testimonial Names*/
.Reviewer {
    font-size: 2em;
    text-transform: uppercase;
    margin: 20px 0;
    margin-top: 30px;
    font-style: italic;
    text-decoration: underline;
}
/*Testimonial Stars*/
.stars{
    margin-bottom: 20px;
    font-size: 1.5em;
}
@media screen and (max-width:960px) {
.col{
    flex: 100%;
    max-width: 80%;
}
}

/*Contact Us Page*/
.wrapper-contact{
    height: 600px;
    width: 1000px;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    background-image: url(abstract);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.8;
}
.wrapper-contact h1{
    margin-top: 50px;
}
/*Social Media Icons*/
.icon a{
    position: relative;
    height: 80px;
    width: 80px;
    margin: 0 30px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 35%;
    transition: all 0.5s;
    box-shadow: -3px -3px 7px #228B22, 3px 3px 5px #228B22;
    backdrop-filter: blur(10px);
}
.icon a:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 35%;
    background: #d9d9d9;
    box-shadow: inset 7px #228B22, 
                inset 3px 5px #228B22;
}
.icon a i{
   position: relative;
   z-index: 3;
   text-align: center;
   width: 100%;
   height: 100%;
   font-size: 45px;
   line-height: 80px; 
}
.icon a:hover i{
    transform: scale(0.9);
}

.form-container{
    height: 600px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(contacts.jpg);
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.form-title h2{
    padding: 20px 20px;
    color: #228B22;
    font-size: 2em;
    margin-bottom: 5px;
    border: 3px solid #228B22;
    backdrop-filter: blur(50px);
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
}
.form-inputs{
    padding: 20px 20px;
    width: 400px;
    height: 50px;
    background-color: white;
    border: 2px solid #228B22;
    border-radius: 100px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
}

.form textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.form-inputs:focus{
    border: 2px solid #b59410;
}
.form-inputs::placeholder{
    color: #228B22;
}
.form button{
    display: flex;
    align-items: center;
    padding: 15px 15px;
    font-size: 1.5em;
    color: #d9d9d9;
    transition: 0.5s;
    border: 3px solid #228B22;
    border-radius: 12px;
    cursor: pointer;
    background: linear-gradient(270deg,#6AC88A, #107AA3);
}
.form button:hover{
    color:white;
    border: 3px solid #228B22;
}


/*Universal*/
hr {
    height: 4px;
        background-color: #228B22;
}
p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 1em;
    text-indent: 50px;
    width: 325px;
    line-height: 1.5;
}
footer {
    clear: both;
  }
footer-line{
    clear: both;
}