@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@500&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #228B22;
    background: fixed;
}

html, body {
    background-image: url('Honey Comb.jpg');
    background-size: auto; 
    background-position: fit; 
    background-repeat: repeat; 
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

header {
    position: sticky;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid ;
    padding: 20px 100px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 99;
}
/*Footer Layout*/
footer {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #d9d9d9;
    backdrop-filter: blur(10px);
    border-top: 3px solid #228B22;
    top: 100vh;
    bottom: 0;
    height: 180px;
    margin-top: auto;
    padding: 20px 100px;
}
.footer-icon a{
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-right: 50px;
    left: 26px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.5s;
    box-shadow: -3px -3px 7px #228B22, 3px 3px 5px #228B22;
    backdrop-filter: blur(10px);
}

.footer-icon a:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #d9d9d9;
    box-shadow: inset 7px #228B22, 
                inset 3px 5px #228B22;
}
/*Footer Icons*/
.footer-icon a i{
   position: relative;
   z-index: 3;
   text-align: center;
   width: 100%;
   height: 100%;
   font-size: 25px;
   line-height: 50px; 
}
.footer-icon a:hover i{
    transform: scale(0.9);
}
.ul-footer {
    list-style: none;
    text-decoration: none;
}

.footer-col{
    width: 25%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: justify;
}
.footer-col h3{
    position: relative;
    margin-bottom: 30px;
    margin-right: 120px;
    font-weight: 900;
    text-transform: capitalize;
    text-decoration: none;
}
.footer-col h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #228B22;
    height: 2px;
    width: 20%;
}
/*Removes Underline from Footer Links*/
.footer-col a{
    text-decoration: none;
    gap: 10px;
}

/*Navigation Bar*/
.logo {
    font-style: italic;
    font-size: 1.3em;
    color: #228B22;
    user-select: none;
    display: flex;
}
.navigation a{
    position: sticky;
    font-size: 1.2em;
    color: #228B22;
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
    align-items: right;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #228B22;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: right;
    transform: scaleX(1);

}
/*Apply button
.navigation .btnLogin-popup {
    width: 100px;
    height: 50px;
    background: transparent;
    color: #228B22;
    outline: none;
    border: 2px solid #228B22;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.9em;
    margin: 10px;
    transition: 0.5s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.50);
}
.navigation .btnLogin-popup:hover {
    background: #228B22;
    border: 2px solid grey;
    color: white ;
}
*/

/*Search Bar*/

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 100px;
    border: 2px solid #228B22;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.50);
}
.search-box:hover > .search-txt{
    width: 180px;
    padding: 0 6px;
}
.search-btn{
    color: #228B22;
    float: right;
    width: auto;
    height: auto;
    border-radius: 0px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #228B22;
    font-size: 0.9em;
    transition: 0.8s;
    line-height: 40px;
    width: 0px;
}

/*Home Page Images*/
.container1 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
    
}
/*Image 1 - Lexus LC 500*/
.image1 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
/*Image 2 - BMW M8*/
.image2 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container2 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}

/*Image 3 - Acura NSX*/
.image3 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container3 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 4 - Audi R8*/
.image4 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container4 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}

/*About us Page*/
/*About Me Picture*/
.profile { 
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 100px;
    margin-right: 55px;
    margin-left: 300px;
    border: 4px solid #228B22;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
    float: left;
    margin-left: 560px;
}
/*About Me Box*/
.wrapper-about {
    height: 400px;
    width: 600px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*About Me Paragraph*/
.wrapper-about p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 85px;
}
/*About Me Paragraph Heading*/
.wrapper-about h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 900;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 210px;
}
/*About Us - Mission Boxes*/
.goals{
    height: 800px;
    width: 1600px;
    align-items: center;
    text-align: justify;
    display: flex;
    column-gap: 50px;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    background-image: url(cars/goals.webp);
    background-size: cover;
    background-position: fit; 
    background-repeat: no-repeat; 
    margin-left: 160px;
}
/*About Us - Mission Box 1*/
.box1 {
    height: 400px;
    width: 600px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
    display: inline-block;
    margin-left: 120px;
    background-color:#d9d9d9;

}
/*About Us - Mission Box 2*/
.box2 {
    height: 400px;
    width: 600px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
    display: inline-block;
    margin-left: 100px;
    background-color:#d9d9d9;
}
/*About Us - Mission Box 1 Paragraph*/
.box1 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 85px;
}
/*About Us - Mission Box 2 Paragraph*/
.box2 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 85px;
}

/*Products Page*/
/*Images*/
/*Image 5 - LC 500 */
.image5 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container5 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 5 - LC 500 */
.image6 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container6 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 5 - LC 500 */
.image7 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container7 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 5 - LC 500 */
.image8 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container8 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 5 - LC 500 */
.image9 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container9 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}
/*Image 5 - LC 500 */
.image10 {   
    max-width: 710px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 75px;
}
.container10 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: justify;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    backdrop-filter: blur(10px);
}

/*Products Page*/
/*Specs List inside the capsule*/
ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-bottom: 50px;
}
/*Buy Now Buttons*/
.list button{
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height: 50px;
    background: transparent;
    color: #228B22;
    outline: none;
    border: 3px solid #228B22;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: 110px;
    transition: 0.5s;
    position: absolute;
}
.list button:hover{
    background: #228B22;
    color: #d9d9d9;
    border: 3px solid #d9d9d9;
}
/*Starting Price*/
.Price {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-style: italic;
    font-weight: 400;
    text-decoration: underline;
}
.Offerings {
    text-decoration: underline;
    font-style: italic;
}

/*Error Page Gif*/
.gif{
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
}


/*Contact Us Page*/
.wrapper-contact{
    height: 600px;
    width: 1000px;
    border: 4px solid #228B22;
    border-radius: 50px;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 10);
    background-image: url(abstract);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.wrapper-contact h1{
    margin-top: 50px;
}
/*Social Media Icons*/
.icon a{
    position: relative;
    height: 80px;
    width: 80px;
    margin: 0 30px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.5s;
    box-shadow: -3px -3px 7px #228B22, 3px 3px 5px #228B22;
    backdrop-filter: blur(10px);
}
.icon a:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #d9d9d9;
    box-shadow: inset 7px #228B22, 
                inset 3px 5px #228B22;
}
.icon a i{
   position: relative;
   z-index: 3;
   text-align: center;
   width: 100%;
   height: 100%;
   font-size: 45px;
   line-height: 80px; 
}
.icon a:hover i{
    transform: scale(0.9);
}

/*Universal*/
hr {
    height: 4px;
        background-color: #228B22;
}
p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 1em;
    text-indent: 50px;
    width: 325px;
    line-height: 1.5;
}
footer {
    clear: both;
  }
footer-line{
    clear: both;
}